.title-0-p {
  color: rgb(158, 158, 158);
  font-size: 2.5vw;
  text-align: center;
}

.productinfodiv {
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
}

.img-0-div {
  width: 90%;
}

.img-0-div img {
  width: 100%;
}

.img-0-div p {
  color: rgb(158, 158, 158);
  font-size: 1.5vw;
}

.productinfo {
  width: 90%;
}

.prodform {
  display: flex;
  flex-direction: column;
}

.varlabel {
  color: rgb(243, 144, 161);
  font-size: 1.5vw;
  text-align: left;
  margin-bottom: 2%;
}

.firstnamelabel {
  color: rgb(243, 144, 161);
  font-size: 1.5vw;
  text-align: center;
  margin-bottom: 2%;
}

.lastnamelabel {
  color: rgb(243, 144, 161);
  font-size: 1.5vw;
  text-align: center;
  margin-bottom: 2%;
}

.emaillabel {
  color: rgb(243, 144, 161);
  font-size: 1.5vw;
  text-align: center;
  margin-bottom: 2%;
}

.phonelabel {
  color: rgb(243, 144, 161);
  font-size: 1.5vw;
  text-align: center;
  margin-bottom: 2%;
}

.countrylabel {
  color: rgb(243, 144, 161);
  font-size: 1.5vw;
  text-align: left;
  margin-bottom: 2%;
  margin-top: 2%;
}

.statelabel {
  color: rgb(243, 144, 161);
  font-size: 1.5vw;
  text-align: left;
  margin-bottom: 2%;
}

.addresslabel {
  color: rgb(243, 144, 161);
  font-size: 1.5vw;
  text-align: left;
  margin-bottom: 2%;
}

.citylabel {
  color: rgb(243, 144, 161);
  font-size: 1.5vw;
  text-align: left;
  margin-bottom: 2%;
}

.ziplabel {
  color: rgb(243, 144, 161);
  font-size: 1.5vw;
  text-align: left;
  margin-bottom: 2%;
}

.autocompletelabel {
  margin-top: 5%;
  text-align: center;
  width: 90%;
  padding: 2%;
}

.autocompletelabel input {
  width: 100%;
  text-align: center;
  background: none;
  color: #7dd2f3;
  font-size: 20pt;
}

.autocompletelabel input::placeholder {
  color: rgb(125, 210, 243);
  font-size: 20pt;
}

.submit-o {
  margin-top: 2%;
  margin-bottom: 4%;
  width: 100%;
  color: rgb(243, 144, 161);
  font-size: 1.5vw;
  background-color: rgb(183, 104, 169);
  padding: 1% 9%;
  border-style: none;
}

.submit-p {
  text-decoration: none;
  color: rgb(243, 144, 161);
  font-size: 1.5vw;
  text-align: center;
  background-color: rgb(183, 104, 169);
  padding: 1% 34%;
  margin-left: 4%;
}

.ChkoutHelp0 {
  color: rgb(158, 158, 158);
  font-size: 1.5vw;
  margin-top: 15%;
}

.ChkoutHelp1 {
  color: rgb(158, 158, 158);
  font-size: 1.5vw;
  margin-top: 2%;
}

.ChkoutSteps {
  list-style: decimal;
  color: rgb(158, 158, 158);
  font-size: 1.5vw;
}

.ChkoutSteps li {
  margin-top: 2%;
}

.ChkoutHelp2 {
  color: rgb(158, 158, 158);
  font-size: 1.5vw;
  margin-bottom: 20%;
}

.colorOptions {
  display: flex;
  justify-content: space-evenly;
  width: 95%;
}

.colorOptions button {
  width: 25%;
  border: none;
  text-decoration: none;
  background: none;
}

.colorOptions button:hover .colorOptions img {
  width: 120%;
}

.colorOptions img {
  width: 100%;
  height: auto;
}
