.backbtnc {
  margin: 0%;
  border-radius: 15px;
  padding: 1.5% 1.5%;
  margin-left: 2.5%;
  margin-top: 2.5%;
  width: 10%;
  text-align: center;
  box-shadow: 10px 10px rgba(31, 31, 31, 0.8);
  border-top: rgb(241, 101, 101, 1);
  border-right: rgb(241, 101, 101, 1);
  border-width: 2px;
  border-style: solid;
  border-left: none;
  border-bottom: none;
  font-family: "Righteous", cursive;
  font-size: 1.5vw;
  position: relative;
  z-index: 999;
}

.backbtnc a {
  color: rgba(214, 214, 214, 1);
  text-decoration: none;
}

.c-text {
  position: relative;
  z-index: 950;
  display: flex;
  justify-content: space-evenly;
  width: 90vw;
  height: 20vh;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 15px;
  box-shadow: 20px 20px rgba(31, 31, 31, 0.8);
  border-top: rgb(241, 101, 101, 1);
  border-right: rgb(241, 101, 101, 1);
  border-width: 2px;
  border-style: solid;
  border-left: none;
  border-bottom: none;
}

.movies-title {
  width: 100%;
  padding-left: 2.5%;
  font-family: "Righteous", cursive;
  font-size: 4vw;
  color: rgba(214, 214, 214, 1);
  position: relative;
  z-index: 950;
}

.c-subtext {
  position: relative;
  z-index: 950;
}

.week1 {
  text-align: left;
  font-family: "Righteous", cursive;
  font-size: 3vw;
  color: rgba(214, 214, 214, 1);
  margin: 0%;
  margin-top: 2.5%;
  margin-left: 16%;
  position: relative;
  z-index: 950;
}

.movie-1 {
  text-align: center;
  justify-content: center;
  margin-top: 1%;
  position: relative;
  position: relative;
  z-index: 999;
}

.primer-wrap {
  width: 50%;
  margin-left: 25%;
  transition: 0.3s;
}

.movie-1-list {
  position: absolute;
  right: 25%;
  top: 0%;
  z-index: 900;
  opacity: 0;
  transition: 0.3s;
  text-align: left;
  font-family: "Righteous", cursive;
  font-size: 2vw;
  color: rgba(214, 214, 214, 1);
  box-shadow: 10px 10px rgba(31, 31, 31, 0.8);
  border-top: rgb(241, 101, 101, 1);
  border-right: rgb(241, 101, 101, 1);
  border-width: 2px;
  border-style: solid;
  border-left: none;
  border-bottom: none;
  border-radius: 10px;
  padding: 2% 2%;
  list-style: none;
  background-color: rgb(39, 39, 39);
}

.primer {
  width: 100%;
  height: auto;
  transition: 0.3s;
  box-shadow: 20px 20px rgba(31, 31, 31, 0.8);
  border-radius: 15px;
  position: relative;
  z-index: 800;
}

.primer-wrap:hover {
  margin-left: 20%;
}

.primer-wrap:hover .primer {
  width: 120%;
  transition: 0.3s;
  height: auto;
}

.primer-wrap:hover .movie-1-list {
  visibility: visible;
  right: 5%;
  opacity: 1;
}

.movie-2 {
  text-align: center;
  justify-content: center;
  margin-top: 2%;
  position: relative;
  position: relative;
  z-index: 999;
}

.tenet-wrap {
  width: 50%;
  margin-left: 25%;
  transition: 0.3s;
}

.movie-2-list {
  position: absolute;
  right: 30%;
  top: 5%;
  z-index: 900;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  text-align: left;
  font-family: "Righteous", cursive;
  font-size: 2vw;
  color: rgba(214, 214, 214, 1);
  box-shadow: 10px 10px rgba(31, 31, 31, 0.8);
  border-top: rgb(241, 101, 101, 1);
  border-right: rgb(241, 101, 101, 1);
  border-width: 2px;
  border-style: solid;
  border-left: none;
  border-bottom: none;
  border-radius: 10px;
  padding: 2% 2%;
  list-style: none;
  background-color: rgb(39, 39, 39);
}

.tenet {
  width: 100%;
  height: auto;
  transition: 0.3s;
  box-shadow: 20px 20px rgba(31, 31, 31, 0.8);
  z-index: 999;
  border-radius: 15px;
}

.tenet-wrap:hover {
  margin-left: 20%;
}

.tenet-wrap:hover .tenet {
  width: 120%;
  transition: 0.3s;
  height: auto;
  z-index: 999;
}

.tenet-wrap:hover .movie-2-list {
  visibility: visible;
  right: 5%;
  opacity: 1;
}

.movie-3 {
  text-align: center;
  justify-content: center;
  margin-top: 2%;
  position: relative;
  margin-bottom: 2.5%;
  position: relative;
  z-index: 999;
}

.aliencov-wrap {
  width: 50%;
  margin-left: 25%;
  transition: 0.3s;
}

.movie-3-list {
  position: absolute;
  right: 30%;
  top: 5%;
  z-index: 900;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  text-align: left;
  font-family: "Righteous", cursive;
  font-size: 2vw;
  color: rgba(214, 214, 214, 1);
  box-shadow: 10px 10px rgba(31, 31, 31, 0.8);
  border-top: rgb(241, 101, 101, 1);
  border-right: rgb(241, 101, 101, 1);
  border-width: 2px;
  border-style: solid;
  border-left: none;
  border-bottom: none;
  border-radius: 10px;
  padding: 2% 2%;
  list-style: none;
  background-color: rgb(39, 39, 39);
}

.aliencov {
  width: 100%;
  height: auto;
  transition: 0.3s;
  box-shadow: 20px 20px rgba(31, 31, 31, 0.8);
  z-index: 999;
  border-radius: 15px;
}

.aliencov-wrap:hover {
  margin-left: 20%;
}

.aliencov-wrap:hover .aliencov {
  width: 120%;
  transition: 0.3s;
  height: auto;
  z-index: 999;
}

.aliencov-wrap:hover .movie-3-list {
  visibility: visible;
  right: 5%;
  opacity: 1;
}

.movie-4 {
  text-align: center;
  justify-content: center;
  margin-top: 2%;
  position: relative;
  margin-bottom: 5%;
  position: relative;
  z-index: 999;
}

.ahx-wrap {
  width: 50%;
  margin-left: 25%;
  transition: 0.3s;
}

.movie-4-list {
  position: absolute;
  right: 30%;
  top: 5%;
  z-index: 950;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  text-align: left;
  font-family: "Righteous", cursive;
  font-size: 2vw;
  color: rgba(214, 214, 214, 1);
  box-shadow: 10px 10px rgba(31, 31, 31, 0.8);
  border-top: rgb(241, 101, 101, 1);
  border-right: rgb(241, 101, 101, 1);
  border-width: 2px;
  border-style: solid;
  border-left: none;
  border-bottom: none;
  border-radius: 10px;
  padding: 2% 2%;
  list-style: none;
  background-color: rgb(39, 39, 39);
}

.ahx {
  width: 100%;
  height: auto;
  transition: 0.3s;
  box-shadow: 20px 20px rgba(31, 31, 31, 0.8);
  border-radius: 15px;
  position: relative;
  z-index: 900;
}

.ahx-wrap:hover {
  margin-left: 20%;
}

.ahx-wrap:hover .ahx {
  width: 120%;
  transition: 0.3s;
  height: auto;
}

.ahx-wrap:hover .movie-4-list {
  visibility: visible;
  right: 5%;
  opacity: 1;
}

.sexlines3 {
  width: 100%;
  position: absolute;
  top: -30%;
  margin-left: 0%;
  z-index: 900;
}
