.movies {
  margin-bottom: 15%;
}

.c-text {
  width: inherit;
  text-align: center;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.wl-title {
  margin-top: 5%;
  margin-bottom: 2.5%;
  width: 90%;
}

.c-subtext {
  position: relative;
  z-index: 950;
}

.movie-sec {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.movie-sec2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.movie-sec3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.movie-sec4 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.movie-1 {
  width: 50%;
  text-align: center;
  justify-content: center;
  position: relative;
  position: relative;
  z-index: 999;
}

.primer-wrap {
  width: 100%;
  margin-left: 1%;
  transition: 0.3s;
  position: relative;
}

.movie-1-list {
  position: absolute;
  left: 1%;
  top: 0%;
  width: 100%;
  height: inherit;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  z-index: 900;
  opacity: 0;
  transition: 0.3s;
  text-align: center;
  font-size: 15pt;
  color: rgb(170, 170, 170);
  border-radius: 10px;
  list-style: none;
  background-color: #2b2b2bbb;
}

.primer {
  width: 100%;
  height: auto;
  transition: 0.3s;
  border-radius: 15px;
  position: relative;
  z-index: 800;
}

.primer-wrap:hover .movie-1-list {
  visibility: visible;
  right: 5%;
  opacity: 1;
}

.movie-2 {
  width: 50%;
  text-align: center;
  justify-content: center;
  margin-top: 0%;
  position: relative;
  position: relative;
  z-index: 999;
}

.tenet-wrap {
  width: 100%;
  margin-left: 1%;
  transition: 0.3s;
}

.movie-2-list {
  position: absolute;
  width: 100%;
  left: 0%;
  top: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 0%;
  z-index: 900;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  text-align: center;
  font-size: 15pt;
  color: rgb(170, 170, 170);
  border-radius: 10px;
  list-style: none;
  background-color: #2b2b2bbb;
}

.tenet {
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  border-radius: 15px;
}

.tenet-wrap:hover .movie-2-list {
  visibility: visible;
  right: 5%;
  opacity: 1;
}

.movie-3 {
  width: 50%;
  text-align: center;
  justify-content: center;
  margin-top: 0%;
  position: relative;
  margin-bottom: 0%;
  position: relative;
  z-index: 999;
}

.aliencov-wrap {
  width: 100%;
  margin-left: 0%;
  transition: 0.3s;
}

.movie-3-list {
  position: absolute;
  width: 100%;
  left: 0%;
  top: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 0%;
  z-index: 900;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  text-align: center;
  font-size: 15pt;
  color: rgb(170, 170, 170);
  border-radius: 10px;
  list-style: none;
  background-color: #2b2b2bbb;
}

.aliencov {
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  border-radius: 15px;
}

.aliencov-wrap:hover .movie-3-list {
  visibility: visible;
  opacity: 1;
}

.movie-4 {
  width: 50%;
  text-align: center;
  justify-content: center;
  margin-top: 0%;
  position: relative;
  margin-bottom: 0%;
  position: relative;
  z-index: 999;
}

.ahx-wrap {
  width: 100%;
  margin-left: 0%;
  transition: 0.3s;
}

.movie-4-list {
  position: absolute;
  width: 100%;
  left: 0%;
  top: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 0%;
  z-index: 950;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  text-align: center;
  font-size: 15pt;
  color: rgb(170, 170, 170);
  border-radius: 10px;
  list-style: none;
  background-color: #2b2b2bbb;
}

.ahx {
  width: 100%;
  height: auto;
  transition: 0.3s;
  border-radius: 15px;
  position: relative;
  z-index: 900;
}

.ahx-wrap:hover .movie-4-list {
  visibility: visible;
  right: 5%;
  opacity: 1;
}

.movie-5 {
  width: 50%;
  text-align: center;
  justify-content: center;
  margin-top: 0%;
  position: relative;
  margin-bottom: 0%;
  position: relative;
  z-index: 999;
}

.whiplash-wrap {
  width: 100%;
  margin-left: 0%;
  transition: 0.3s;
}

.movie-5-list {
  position: absolute;
  width: 100%;
  left: 0%;
  top: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 0%;
  z-index: 950;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  text-align: center;
  font-size: 15pt;
  color: rgb(170, 170, 170);
  border-radius: 15px;
  list-style: none;
  background-color: #2b2b2bbb;
}

.whiplash {
  width: 100%;
  height: auto;
  transition: 0.3s;
  border-radius: 15px;
  position: relative;
  z-index: 900;
}

.whiplash-wrap:hover .movie-5-list {
  visibility: visible;
  right: 5%;
  opacity: 1;
}

.movie-6 {
  width: 50%;
  text-align: center;
  justify-content: center;
  margin-top: 0%;
  position: relative;
  margin-bottom: 0%;
  position: relative;
  z-index: 999;
}

.thehunt-wrap {
  width: 100%;
  margin-left: 0%;
  transition: 0.3s;
}

.movie-6-list {
  position: absolute;
  width: 100%;
  left: 0%;
  top: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 0%;
  z-index: 950;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  text-align: center;
  font-size: 15pt;
  color: rgb(170, 170, 170);
  border-radius: 10px;
  list-style: none;
  background-color: #2b2b2bbb;
}

.thehunt {
  width: 100%;
  height: auto;
  transition: 0.3s;
  border-radius: 15px;
  position: relative;
  z-index: 900;
}

.thehunt-wrap:hover .movie-6-list {
  visibility: visible;
  right: 5%;
  opacity: 1;
}

.movie-7 {
  width: 50%;
  text-align: center;
  justify-content: center;
  margin-top: 0%;
  position: relative;
  margin-bottom: 0%;
  position: relative;
  z-index: 999;
}

.stalker-wrap {
  width: 100%;
  margin-left: 0%;
  transition: 0.3s;
}

.movie-7-list {
  position: absolute;
  width: 100%;
  left: 0%;
  top: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 0%;
  z-index: 950;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  text-align: center;
  font-size: 15pt;
  color: rgb(170, 170, 170);
  border-radius: 10px;
  list-style: none;
  background-color: #2b2b2bbb;
}

.stalker {
  width: 100%;
  height: auto;
  transition: 0.3s;
  border-radius: 15px;
  position: relative;
  z-index: 900;
}

.stalker-wrap:hover .movie-7-list {
  visibility: visible;
  right: 5%;
  opacity: 1;
}

.movie-8 {
  width: 50%;
  text-align: center;
  justify-content: center;
  margin-top: 0%;
  position: relative;
  margin-bottom: 0%;
  position: relative;
  z-index: 999;
}

.sicario-wrap {
  width: 100%;
  margin-left: 0%;
  transition: 0.3s;
}

.movie-8-list {
  position: absolute;
  width: 100%;
  left: 0%;
  top: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 0%;
  z-index: 950;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  text-align: center;
  font-size: 15pt;
  color: rgb(170, 170, 170);
  border-radius: 10px;
  list-style: none;
  background-color: #2b2b2bbb;
}

.sicario {
  width: 100%;
  height: auto;
  transition: 0.3s;
  border-radius: 15px;
  position: relative;
  z-index: 900;
}

.sicario-wrap:hover .movie-8-list {
  visibility: visible;
  right: 5%;
  opacity: 1;
}
