.mailchimp {
  margin: 0%;
  border-radius: 15px;
  background-color: rgba(186, 125, 236, 1);
  padding: 5% 0%;
  width: 30%;
  margin-left: 35%;
  margin-top: 0%;
  text-align: center;
  box-shadow: 4px 4px rgb(93, 62, 119), -4px -4px rgb(208, 173, 236);
}

.form-title {
  margin: 0%;
  padding-bottom: 15%;
  font-family: "Righteous", cursive;
  font-size: 4vw;
  text-align: center;
  color: rgb(58, 47, 70);
}

.fform input {
  border-radius: 15px;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 55%;
  font-family: "Righteous", cursive;
  font-size: 2vw;
  text-align: center;
  background-color: rgb(52, 52, 58);
  border-style: none;
  box-shadow: -3px -3px rgb(93, 62, 119), 3px 3px rgb(208, 173, 236);
}

.fform input::placeholder {
  color: rgb(223, 223, 223);
}

.fform input::placeholder {
  color: rgb(223, 223, 223);
}

.fform input,
select,
textarea {
  color: rgb(223, 223, 223);
}

.fform button {
  margin-left: 5%;
  border-radius: 15px;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 30%;
  font-family: "Righteous", cursive;
  font-size: 1.75vw;
  text-align: center;
  color: rgb(58, 47, 70);
  background-color: rgba(186, 125, 236, 1);
  border-style: none;
  box-shadow: 3px 3px rgb(93, 62, 119), -3px -3px rgb(208, 173, 236);
}

.sending {
  margin-bottom: 1%;
}

.error {
  margin-bottom: 1%;
}

.success {
  margin-bottom: 1%;
}
