.home {
  text-align: center;
  display: block;
  align-items: center;
}

.home-title {
  font-family: "Righteous", cursive;
  font-size: 5vw;
  /*color: rgb(223, 223, 223);*/
  color: rgb(186, 125, 236);
  margin: 0%;
  margin-top: 5%;
  margin-bottom: 2%;

  width: 100%;
  /*text-shadow: -3px 3px 0.75px rgb(155, 129, 163),
    3px -3px 0.75px rgb(140, 180, 180);*/
}

.home-title a {
  font-family: "Righteous", cursive;
  font-size: 5vw;
  /*color: rgb(223, 223, 223);*/
  background: -webkit-linear-gradient(
    100deg,
    rgba(214, 214, 214, 1) 34%,
    rgba(253, 29, 29, 1) 37%,
    rgba(252, 176, 69, 1) 40%,
    rgba(243, 252, 69, 1) 43%,
    rgba(69, 252, 138, 1) 46%,
    rgba(69, 252, 248, 1) 49%,
    rgba(214, 214, 214, 1) 52%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.home-stone {
  margin-right: 2.5%;
  margin-top: 0%;
}

.scroller {
  position: absolute;
  top: 150%;
  left: 10%;
}

.Main {
  width: 100%;
  height: 100vh;
  align-items: center;
  margin-top: 0%;
  text-align: center;
  overflow-y: hidden;
  position: relative;
  z-index: 900;
}

.Main p {
  text-decoration: none;
}

.comp1 a {
  color: rgba(214, 214, 214, 1);
  text-decoration: none;
  margin-top: 0%;
  margin-bottom: 0%;
  font-family: "Righteous", cursive;
  font-size: 3vw;
  text-align: center;
}

.comp1 {
  margin-top: 0%;
}

.comp2 a {
  color: rgba(214, 214, 214, 1);
  text-decoration: none;
  margin-top: 0%;
  margin-bottom: 0%;
  font-family: "Righteous", cursive;
  font-size: 3vw;
  text-align: center;
}

.comp3 a {
  color: rgba(214, 214, 214, 1);
  text-decoration: none;
  margin-top: 0%;
  margin-bottom: 0%;
  font-family: "Righteous", cursive;
  font-size: 3vw;
  text-align: center;
}

.concentric {
  position: absolute;
  width: 40%;
  top: 0.9%;
  left: 29.5%;
  opacity: 0.25;
  z-index: 500;
}
