.a-text {
  position: relative;
  z-index: 999;
}

.Blog-form {
  position: relative;
  z-index: 999;
}

.a-image {
  width: 35%;
  height: auto;
  margin-left: 35%;
  margin-top: 0%;
}

.sexlines2 {
  width: 100%;
  position: absolute;
  top: -30%;
  margin-left: 0%;
  z-index: 900;
}
