.a-text {
  position: relative;
  z-index: 999;
}

.Blog-form {
  position: relative;
  z-index: 999;
}

.backbtn {
  margin: 0%;
  border-radius: 15px;
  padding: 1.5% 1.5%;
  margin-left: 2.5%;
  margin-top: 2.5%;
  width: 10%;
  text-align: center;
  box-shadow: 10px 10px rgba(31, 31, 31, 0.8);
  border-top: rgb(241, 101, 101, 1);
  border-right: rgb(241, 101, 101, 1);
  border-width: 2px;
  border-style: solid;
  border-left: none;
  border-bottom: none;
  font-family: "Righteous", cursive;
  font-size: 1.5vw;
  position: relative;
  z-index: 999;
}

.backbtn a {
  color: rgba(214, 214, 214, 1);
  text-decoration: none;
}

.a-image {
  width: 35%;
  height: auto;
  margin-left: 35%;
  margin-top: 0%;
}

.sexlines2 {
  width: 100%;
  position: absolute;
  top: -30%;
  margin-left: 0%;
  z-index: 900;
}
