.blog-form {
  margin: 0%;
  width: 100%;
}

.backbtn {
  margin: 0%;
  border-radius: 15px;
  background-color: rgba(186, 125, 236, 1);
  padding: 1.5% 1.5%;
  margin-left: 2.5%;
  margin-top: 2.5%;
  width: 10%;
  text-align: center;
  box-shadow: 2.5px 2.5px rgb(93, 62, 119), -2.5px -2.5px rgb(208, 173, 236);
  font-family: "Righteous", cursive;
  font-size: 1.5vw;
}

.backbtn a {
  color: rgb(58, 47, 70);
  text-decoration: none;
}

.a-image {
  width: 35%;
  height: auto;
  margin-left: 35%;
  margin-top: 0%;
}
