body {
  background-color: white;
  /*background-color: rgb(48, 44, 44);*/
  /*background-image: url(./Assets/1x/Asset\ 2.png);
  background-repeat: no-repeat;
  background-size: cover;*/
}

.App {
  width: 98%;
  height: 96vh;
  background-color: rgb(228, 228, 228);
  margin: 1%;
}

.App-div {
  width: 100%;
  display: flex;
  height: inherit;
  overflow-y: scroll;
}

.leftside {
  width: 50%;
  height: 100%;
  overflow-y: scroll;
}

.constant {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  width: 60%;
  margin-top: 7.5%;
  margin-left: 14%;
}

.rec1 {
  width: 2.5%;
  align-self: flex-end;
}

.constant-bottom {
  width: 100%;
  display: flex;
  justify-content: left;
  margin-top: 15%;
}

.rec2 {
  width: 10%;
  margin-left: 5%;
}

.rec3 {
  width: 3.25%;
  margin-top: 5.6%;
  margin-left: 4%;
}

.constant-content {
  width: 50%;
  border-style: solid;
  border-color: black;
  margin-left: 7.5%;
  margin-top: 2.5%;
  padding-top: 5%;
}

.culture {
  width: 80%;
}

.and {
  width: 20%;
  text-align: right;
}

.rightside {
  width: 50%;
  overflow-y: hidden;
}

.stickyh {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding-top: 5%;
  padding-left: 5%;
  margin-left: 2.5%;
}

.homeButt {
  width: 50%;
  margin-top: 2%;
}

.catalogButt {
  width: 65%;
  margin-top: 2.5%;
  margin-left: -10%;
}

.moviesButt {
  width: 60%;
  margin-top: 2%;
  margin-left: 5%;
}

.blogButt {
  width: 40%;
  margin-top: 1.9%;
  margin-left: 0%;
}

.theroutes {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.stickyh-m {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding-top: 5%;
  padding-left: 5%;
}
