body {
  background-color: rgb(52, 52, 58);
  /*background-color: rgb(48, 44, 44);*/
  /*background-image: url(./Assets/1x/Asset\ 2.png);
  background-repeat: no-repeat;
  background-size: cover;*/
}

.App {
  width: 100%;
  height: 100%;
}

.routes {
  width: 100%;
  height: 100%;
}
