.appm {
  width: 98%;
  height: 96vh;
  background-color: rgb(228, 228, 228);
  margin: 1%;
}

.app_m {
  width: 100%;
  height: inherit;
  overflow-y: scroll;
}

.constant-m {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo-m {
  width: 60%;
  margin-top: 7.5%;
  margin-left: 14%;
}

.rec1-m {
  width: 2.5%;
  align-self: flex-end;
}

.homeButt-m {
  width: 90px;
}

.catalogButt-m {
  width: 120px;
}

.moviesButt-m {
  width: 115px;
}

.blogButt-m {
  width: 70px;
}

.theroutes-m {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.stickyh-m {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding-top: 5%;
  padding-left: 1.5%;
}
